@use '../../abstracts/variables';

.tag {
  align-items: center;
  background-color: variables.$blue;
  border-radius: 0.375em;
  color: variables.$white;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  margin-right: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  @each $name, $value in variables.$colors {
    &.is-#{$name} {
      background-color: $value;
      color: find-color-invert($value);
    }
  }

  &.is-normal {
    font-size: 0.75em;
  }

  &.is-medium {
    font-size: 1em;
  }
}
