@use 'styles/abstracts/mixins';
@use 'styles/abstracts/variables';

.flatcard {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 0 1em;
  text-align: center;

  @include mixins.until(variables.$tablet) {
    padding: 0;
  }

  .flatcard-image {
    height: 180px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 320px;

    img {
      border-radius: 0.375em;
      box-shadow: variables.$shadow;
    }
  }

  .flatcard-title {
    font-weight: 700;
    margin: 1em 0 0.5em;
    text-align: center;
  }

  .flatcard-content {
    font-size: 0.85em;

    &.is-content-center {
      text-align: center;
    }

    &.is-content-justify {
      text-align: justify;
    }
  }
}
