@use 'styles/abstracts/variables';
@use 'sass:map';

svg.icon {
  fill: map.get(variables.$colors, 'white');
  padding: 1em;
  transition: fill 0.2s;

  &.is-colored {
    &[data-iconname='linkedin'] {
      fill: map.get(variables.$colors, 'primary-dark');

      &:hover {
        fill: variables.$brand-linkedin;
      }
    }

    &[data-iconname='github'] {
      fill: map.get(variables.$colors, 'primary-dark');

      &:hover {
        fill: variables.$brand-github;
      }
    }

    &[data-iconname='medium'] {
      fill: map.get(variables.$colors, 'primary-dark');

      &:hover {
        fill: variables.$brand-medium;
      }
    }
  }
}
