@use 'styles/abstracts/variables';
@use 'sass:map';

.title {
  color: map.get(variables.$colors, 'black');
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;

  &:is(h1) {
    font-size: 2rem;
  }

  &:is(h2) {
    font-size: 1.5rem;
  }

  &:is(h3) {
    font-size: 1rem;
  }

  &:is(h4) {
    font-size: 1rem;
  }

  &.is-centered {
    text-align: center;
  }

  &.subtitle {
    color: map.get(variables.$colors, 'primary-dark');
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: -1.25rem;
  }
}
