@use 'styles/abstracts/variables';
@use 'styles/abstracts/mixins';
@use 'sass:map';

$padding: 2.5em;
$line-width: 3px;
$circle-ratio: 4;
$circle-border: 3px;
$margin-top: 2rem;

.career-card {
  display: flex;
  justify-content: center;

  .career-card-body,
  .career-card-void {
    flex: 1;
  }

  .career-card-body {
    position: relative;

    &::before {
      background-color: map.get(variables.$colors, 'primary-dark');
      content: '';
      height: 150%;
      position: absolute;
      right: $padding;
      width: $line-width;
    }

    &::after {
      border: $circle-border solid map.get(variables.$colors, 'grey');
      border-radius: 50%;
      content: '';
      height: calc(#{$line-width} * #{$circle-ratio});
      position: absolute;
      top: 1.9em;
      width: calc(#{$line-width} * #{$circle-ratio});
    }

    .career-card-period {
      font-size: 0.75em;
      font-weight: 700;
      margin-bottom: 0.75em;
    }

    .career-card-title {
      margin: 0;
    }

    .career-card-place {
      color: map.get(variables.$colors, 'grey-medium');
      font-size: 0.65em;
      margin-bottom: 0.5em;

      a {
        color: map.get(variables.$colors, 'grey-medium');
        text-decoration: none;
      }
    }

    .career-card-mission-title {
      font-size: 0.95em;
      font-weight: 700;
    }

    .career-card-mission-description {
      font-size: 0.85em;
      line-height: 1.25em;

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: left;

    @include mixins.until(variables.$tablet) {
      margin-top: $margin-top;

      .career-card-body {
        padding-left: $padding;

        &::before {
          left: calc((#{$padding} / 2) - (#{$line-width} / 2));
        }

        &::after {
          left: calc((#{$padding} / 2) + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});
        }
      }
    }

    .career-card-body {
      padding-left: calc(#{$padding} * 2);

      @include mixins.until(variables.$tablet) {
        padding-left: $padding;

        &::before {
          left: calc((#{$padding} / 2) - (#{$line-width} / 2));
        }

        &::after {
          left: calc((#{$padding} / 2) + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});
        }
      }

      .career-card-title {
        color: map.get(variables.$colors, 'secondary');
      }

      &::before {
        left: calc(#{$padding} - (#{$line-width} / 2));

        @include mixins.until(variables.$tablet) {
          left: calc((#{$padding} / 2) - (#{$line-width} / 2));
        }
      }

      &::after {
        background-color: map.get(variables.$colors, 'secondary');
        left: calc(#{$padding} + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});

        @include mixins.until(variables.$tablet) {
          left: calc((#{$padding} / 2) + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});
        }
      }
    }
  }

  &:nth-child(even) {
    flex-direction: row;
    text-align: right;

    @include mixins.until(variables.$tablet) {
      flex-direction: row-reverse;
      margin-top: $margin-top;
      text-align: left;

      .career-card-body {
        padding-left: $padding;
        padding-right: 0;

        &::before {
          left: calc((#{$padding} / 2) - (#{$line-width} / 2));
        }

        &::after {
          left: calc((#{$padding} / 2) + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});
        }
      }
    }

    .career-card-body {
      padding-right: calc(#{$padding} * 2);

      .career-card-title {
        color: map.get(variables.$colors, 'primary');
      }

      &::before {
        right: calc(#{$padding} - (#{$line-width} / 2));
      }

      &::after {
        background-color: map.get(variables.$colors, 'primary');
        right: calc(#{$padding} + (#{$line-width} * (-#{$circle-ratio} / 2)) - #{$circle-border});
      }
    }
  }

  .career-card-void {
    @include mixins.until(variables.$tablet) {
      display: none;
    }
  }
}
