@use '../abstracts/variables';

.index-page {
  div.row {
    padding: 6em 1em;
    position: relative;
    scroll-margin-top: variables.$header-height;

    &:nth-child(even) {
      background-color: variables.$grey;
    }

    &.row-intro {
      @include variables.bg-one;

      p {
        text-align: justify;
      }
    }

    &.row-about {
      div[class*='react-reveal'] {
        height: 100%;
      }
    }

    &.row-skills {
      div[class*='react-reveal'] {
        margin-bottom: 0.75em;
      }
    }

    &.row-career {
      @include variables.bg-two;

      > div {        
        overflow-y: hidden;
      }
    }

    &.row-productions {
      p {
        text-align: justify;
      }
    }

    // &.row-passions {
    // }

    // &.row-contact {
    // }
  }
}
