@import "../variables";

.index-page {
  div.row {
    padding: 6em 1em;
    scroll-margin-top: $headerHeight;
    position: relative;
    &:nth-child(even) {
      background-color: $grey;
    }
    &.row-intro {
      @include bg-one;
      p {
        text-align: justify;
      }
    }
    &.row-about {
      div[class*="react-reveal"] {
        height: 100%;
      }
    }
    &.row-skills {
      div[class*="react-reveal"] {
        margin-bottom: 0.75em;
      }
    }
    &.row-career {
      @include bg-two;
    }
    &.row-productions {
      p {
        text-align: justify;
      }
    }
    &.row-passions {
    }
    &.row-contact {
    }
  }
}
