@use 'styles/abstracts/variables';
@use 'styles/abstracts/mixins';

.gdpr-banner {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1;

  @include mixins.until(variables.$tablet) {
    flex-direction: column;
    padding: 0.5em;
  }

  p.gdpr-banner-content {
    align-self: center;
    color: variables.$white;
    display: inline-block;
    padding: 0 1em;
    text-align: center;

    a {
      color: variables.$medium-grey;
    }
  }

  .gdpr-banner-buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
  }
}
