@use 'styles/abstracts/variables';
@use 'styles/abstracts/functions';
@use 'sass:map';

.tag {
  align-items: center;
  background-color: map.get(variables.$colors, 'primary-dark');
  border-radius: 0.375em;
  color: map.get(variables.$colors, 'white');
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  margin-right: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;

  @each $key, $value in variables.$colors {
    &.is-#{$key} {
      background-color: $value;
      color: functions.find-color-invert($value);
    }
  }

  &.is-normal {
    font-size: 0.75em;
  }

  &.is-medium {
    font-size: 1em;
  }
}
