@import "../../variables";
@import "../../mixins";

nav.navbar {
  display: flex;
  .navbar-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em 0 0;
    a {
      margin-top: 5px;
    }
  }
  .navbar-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include until($tablet) {
      display: none;
      flex-direction: column;
      position: fixed;
      top: $headerHeight;
      left: 0;
      right: 0;
      background: $grey;
    }
    ul.navbar-list {
      list-style: none;
      display: flex;
      padding: 1em 0;
      @include until($tablet) {
        flex-direction: column;
        &:first-child {
          padding: 1em 0 0;
        }
        &:last-child {
          padding: 0 0 1em;
        }
      }
      li.navbar-item {
        margin: 0 0.5em;
        white-space: nowrap;
        position: relative;
        a {
          display: flex;
          @include until($tablet) {
            padding: 0.5em 0;
          }
          div {
            margin: 0;
          }
        }
        &:first-child {
          min-width: 19px;
        }
        &:first-child,
        &:last-child {
          margin: 0 0.5em 0 0;
          @include until($tablet) {
            margin: 0 0.5em;
          }
        }
        &.is-active {
          &:after {
            content: "";
            height: 1px;
            display: block;
            left: 2.5px;
            right: 2.5px;
            position: absolute;
          }
          &:nth-child(1n + 1) {
            &:after {
              background-color: $yellow;
            }
          }
          &:nth-child(2n + 1) {
            &:after {
              background-color: $pink;
            }
          }
          &:nth-child(3n + 1) {
            &:after {
              background-color: $purple;
            }
          }
        }
      }
    }
  }
  .navbar-burger {
    display: flex;
    appearance: none;
    background: 0 0;
    border: none;
    color: currentColor;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: $headerHeight;
    position: relative;
    width: $headerHeight;
    text-decoration: none;
    box-sizing: inherit;
    margin: auto 0 auto auto;
    @include from($tablet) {
      display: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #363636;
    }
    span {
      background-color: currentColor;
      display: block;
      height: 1px;
      left: calc(50% - 8px);
      position: absolute;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color, opacity, transform;
      transition-timing-function: ease-out;
      width: 16px;
      &:nth-child(1) {
        top: calc(50% - 6px);
      }
      &:nth-child(2) {
        top: calc(50% - 1px);
      }
      &:nth-child(3) {
        top: calc(50% + 4px);
      }
    }
  }
  &.is-active {
    .navbar-lists {
      @include until($tablet) {
        display: flex;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
      }
      ul.navbar-list {
        li.navbar-item {
          &.is-active {
            &:after {
              width: 2.5em;
              bottom: 2.5px;
              left: 0;
            }
          }
        }
      }
    }
    .navbar-burger {
      span {
        &:nth-child(1) {
          transform: translateY(5px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
        }
      }
    }
  }
}
