@import "../../../mixins";
@import "../../../variables";

.flatcard {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 0 1em;
  @include until($tablet) {
    padding: 0;
  }
  .flatcard-image {
  }
  .flatcard-title {
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0;
  }
  .flatcard-content {
    font-size: 0.85em;
    &.is-content-center {
      text-align: center;
    }
    &.is-content-justify {
      text-align: justify;
    }
  }
}
