@import "../../../mixins";
@import "../../../variables";

.iconcard {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .iconcard-icon {
    margin: 0 auto;
    display: flex;
    width: 82px;
    position: relative;
    background-color: $white;
    // border: 1em solid $white;
    &.is-icon-border {
      border: 1em solid $grey;
    }
    @each $key, $color in $colors {
      &.is-#{$key} {
        background-color: $color;
      }
    }
  }
  .iconcard-body {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    background: white;
    margin-top: -50px;
    padding: 1em;
    padding-top: 4em;
    height: 100%;
    border-bottom: 2px solid black;
    @each $key, $color in $colors {
      &.is-#{$key} {
        border-bottom: 2px solid $color;
      }
    }
    .iconcard-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .iconcard-content {
      font-size: 0.85em;
      &.is-content-center {
        text-align: center;
      }
      &.is-content-justify {
        text-align: justify;
      }
    }
  }
}
