@use '../abstracts/variables';
@use 'sass:map';

html {
  background-color: map.get(variables.$colors, 'white');
  color: map.get(variables.$colors, 'black');
  overflow-x: hidden;
  scroll-behavior: smooth !important;

  &[data-scroll-behavior='auto'] {
    scroll-behavior: auto !important;
  }

  body {
    box-sizing: border-box;
    overflow-x: hidden;

    a {
      color: inherit;
      text-decoration: none;
    }

    em {
      font-weight: 700;
    }

    sup {
      font-size: smaller;
      vertical-align: super;
    }

    p,
    figcaption {
      line-height: 1.5rem;

      a {
        color: map.get(variables.$colors, 'primary-dark');
        text-decoration: underline;
        text-underline-offset: 1px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // See: https://github.com/vercel/next.js/discussions/48097
    next-route-announcer {
      display: none;
    }
  }
}
