@use '../abstracts/variables';

html {
  background-color: variables.$white;
  color: variables.$black;
  overflow-x: hidden;
  scroll-behavior: smooth !important;

  &[data-scroll-behavior='auto'] {
    scroll-behavior: auto !important;
  }

  body {
    box-sizing: border-box;
    overflow-x: hidden;

    a {
      color: inherit;
      text-decoration: none;
    }

    b {
      font-weight: bold;
    }

    sup {
      font-size: smaller;
      vertical-align: super;
    }

    p,
    figcaption {
      line-height: 1.5rem;

      a {
        color: variables.$blue;
        text-decoration: underline;
        text-underline-offset: 1px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
