@use '../../abstracts/variables';

h1.title {
  font-size: 2rem;
}

h2.title {
  font-size: 1.5rem;
}

h3.title {
  font-size: 1rem;
}

h4.title {
  font-size: 1rem;
}

.title {
  color: variables.$black;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  word-break: break-word;

  &.is-centered {
    text-align: center;
  }

  &.subtitle {
    color: variables.$blue;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: -1.25rem;
  }
}
