@use 'styles/abstracts/variables';
@use 'styles/abstracts/mixins';
@use 'sass:map';

.index-page {
  div.index-page-row {
    padding: 6em 1em;
    position: relative;
    scroll-margin-top: variables.$header-height;

    &:nth-child(even) {
      background-color: map.get(variables.$colors, 'grey');
    }

    &.is-intro {
      @include mixins.background-primary;

      p {
        text-align: justify;

        &.is-last-update {
          font-size: 0.66rem;
          font-style: italic;
          margin-top: 0.25rem;
        }
      }

      img {
        border-radius: 0.375em;
        box-shadow: variables.$shadow;
      }

      a[aria-label]:not([aria-label*='pdf']) {
        display: inline-block;
      }
    }

    &.is-about {
      div.row-about-fade-container {
        height: 100%;
      }
    }

    &.is-skills {
      div.row-skills-fade-container {
        margin-bottom: 0.75em;
      }
    }

    &.is-career {
      @include mixins.background-secondary;

      > div {
        overflow-y: hidden;
      }
    }

    &.is-productions {
      @include mixins.tablet-only() {
        p {
          margin: 0 auto;
          max-width: 764px;
        }
      }

      p {
        text-align: justify;
      }
    }

    &.is-quote {
      $width: 37rem;

      figure {
        margin: 0 auto;
        max-width: $width;

        blockquote {
          font-size: 2rem;
          font-style: italic;
          letter-spacing: 0.05rem;
          line-height: 2.5rem;
          margin-bottom: 0.5rem;
          position: relative;
          text-align: justify;

          strong {
            color: map.get(variables.$colors, 'secondary');
          }

          &::before {
            content: '“';
          }

          &::after {
            content: '”';
          }
        }

        figcaption {
          font-size: 0.8rem;
          line-height: 1rem;
          text-align: right;
        }
      }

      hr {
        background-color: map.get(variables.$colors, 'secondary');
        height: 1px;
        margin: 1rem auto;
        max-width: calc($width / 2);
      }

      p {
        margin: 0 auto;
        max-width: calc($width * 1.5);
        text-align: justify;
      }
    }

    &.is-passions {
      .row-passions-columns {
        > div:last-child {
          @include mixins.tablet-only() {
            margin: auto;
          }
        }
      }
    }

    // &.is-contact {
    // }
  }
}
