.img {
  height: min-content;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  width: min-content;

  picture {
    display: block;

    img {
      &:first-child {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
      }
    }
  }
}
