@import "./variables";

html {
  min-height: 100%;
  height: 100%;
  max-width: 100vw;
  color: $black !important;
  background-color: $grey !important;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0;
  font-size: 14px !important;
  > * {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto",
      "Helvetica Neue", sans-serif !important;
  }
  body {
    max-width: 100vw;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    a:focus {
      text-decoration: none;
      user-select: none;
      outline: none;
    }
    a {
      color: inherit;
      &:not(.button):hover {
        text-decoration: underline;
      }
    }
    textarea {
      resize: vertical;
    }
    ::selection {
      background-color: $dark-pink;
      color: white;
    }
    b {
      color: $pink;
      font-weight: bold;
    }
  }
}
