@import "bulma/sass/utilities/initial-variables.sass";
@import "./variables";

@mixin flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.flex {
  display: flex;
}

*.flex-row {
  @include flex-row();
}

*.flex-col {
  @include flex-col();
}

*.flex-one {
  flex: 1;
}

*.flex-start {
  justify-content: flex-start !important;
}

*.flex-end {
  justify-content: flex-end !important;
}

*.flex-space-between {
  justify-content: space-between !important;
}

*.flex-center {
  justify-content: center !important;
}

*.flex-wrap {
  flex-wrap: wrap !important;
}

*.no-margin-right {
  margin-right: 0 !important;
}

*.no-margin-left {
  margin-left: 0 !important;
}

*.is-bold {
  font-weight: bold !important;
}

*.is-underline {
  text-decoration: underline !important;
}

*.is-light {
  font-weight: initial !important;
}

*.is-line-through {
  text-decoration: line-through !important;
}

*.is-capitalize {
  text-transform: capitalize;
}

*.is-first-capitalize::first-letter {
  text-transform: capitalize;
}

.is-divider-vertical {
  align-self: normal;
}

.is-required:after {
  content: " *";
  color: $red;
}

.is-relative {
  position: relative !important;
}

.is-v-bottom {
  vertical-align: bottom !important;
}

.is-title-underline {
  position: relative;
  &::before {
    content: "";
    background: $pink;
    position: absolute;
    bottom: -0.5em;
    width: 1em;
    height: 0.25em;
    display: block;
  }
  + .subtitle {
    margin-top: -0.5rem !important;
  }
}

.is-pointer-events-none {
  pointer-events: none;
}
