/***************************
********* Colors 🎨 ********
***************************/

$white: #ffffff;
$pink: #c51f5d;
$dark-pink: #891541;
$greyblue: #243447;
$dark-greyblue: #141d26;

$grey: #f5f5f5;

/***************************
******** Settings ⚙ *******
***************************/
$headerHeight: 54px;
$footerHeight: 49px;
